/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI TESTO -*/
    --colore-testo: #000;
    --colore-testo-secondario: #fff;
    --colore-testo-titolo: #000;
    /*- COLORI BG -*/
    --colore-bg-header: #2c3e50;
    --colore-bg-sezioni: #1abc9c;
    --colore-bg-footer-top: #3a546d;
    --colore-bg-footer-bot: #2c3e50;



}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/
  .debug header{
      background-color: aqua;
  }

  .debug aside{
      background-color: black;
  }

  .debug .content{
      background-color: coral;
  }
  
  .debug footer{
      background-color: brown;
  }
  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/
body{
    font-family: 'Roboto', sans-serif;
    color: var(--colore-testo);
}


/*-CONTAINER-*/

.container-custom{
    max-width: 750px;
    margin: auto;
}

.wrapper-small{
    width: 60%;
    margin: auto;
}

.img-avatar{
    width: 300px;
}



/*-DIVISORE-*/

.divisore{
    width: 250px;
    margin: auto;
    position: relative;
}

.divisore::before,.divisore::after{
    content: "";
    display: block;
    height: 3px;
    border-radius: 5px;
    width: 90px;
    background-color: white;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.divisore.black::before,.divisore.black::after{
    background-color: #000;
}
.divisore::before{
    right: 10px;
}
.divisore::after{
    left: 10px;
}

/*-INPUT-*/

.input{
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
}

.input.altezza{
    height: 175px;
}

/*-BUTTON-*/

.btn-green{
    background-color: var(--colore-bg-sezioni);
    color: #fff;
}

/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/


  /* HEADER  */

header{
    line-height: 38px;
    background-color: var(--colore-bg-header);
    color: var(--colore-testo-secondario);
}

header ul{
    margin: 0;
}


/* HERO */

.hero, .about{
    background-color: var(--colore-bg-sezioni);
    color: var(--colore-testo-secondario)
}

/* PORTFOLIO */

.my_card{
    position: relative;
}

.my_card:hover .overlay{
    display: flex;
}

.my_card img{
    position: relative;
}

.my_card .overlay{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.overlay-clr-1{
    background-color: #ba4c64de;
}

.overlay-clr-2{
    background-color: #1FA4B6de;
}

.overlay-clr-3{
    background-color: #130F0Fde;
}

.overlay-clr-4{
    background-color: #1D83C1de;
}

.overlay-clr-5{
    background-color: #1037B5de;
}

.overlay-clr-6{
    background-color: #CCB2A3de;
}


/* FOOTER */

.footer-top{
    background-color: var(--colore-bg-footer-top);
}

footer{
    background-color: var(--colore-bg-header);
    color: var(--colore-testo-secondario);
}

footer a{
    width: 50px;
    font-size: 24px;
    color: inherit;
    text-decoration: none;
}

